.Style-container {
  background-image: url(/Background.jpg);
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 0;
  height: 449px;
  width: 80%;
}

.QTE-container {
  background-color: rgb(178, 179, 181);
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 0;
  width: 80%;
  height: 472px;
}
.Stratagems-container {
  background-image: url(/Background2.png);
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 0;
  height: 449px;
  width: 80%;
}

.Script-container {
  background-color: rgb(186, 186, 59);
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 0;
  padding-bottom: 0;
  width: 80%;
  height: 428px;
}

.info {
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 1%;
}

.up-container {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  padding-top: 1px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1px;
  background-color: black;
  display: flex;
}

.home-container {
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 80px;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
  background-color: rgb(8, 127, 107);
  border-radius: 30px;
  display: flex;
}

.black-line {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
}

h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Franklin Gothic Medium";
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1%;
  padding-right: 2%;
  font-family: "Franklin Gothic Medium";
  text-align: justify;
}

img,
video {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

a {
  color: white;
  display: block;
  background-color: black;
  text-decoration: none;
}

.a1:hover {
  color: rgb(249, 198, 58);
  display: block;
  background-color: black;
  text-decoration: none;
}

.a2:hover {
  color: red;
  display: block;
  background-color: black;
  text-decoration: none;
}

.a3:hover {
  color: yellow;
  display: block;
  background-color: black;
  text-decoration: none;
}

.a4:hover {
  color: rgb(41, 145, 136);
  display: block;
  background-color: black;
  text-decoration: none;
}

.home-link {
  width: 30px;
  height: 30px;
  background-image: url(home.png);
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 38%;
  padding-right: 0;
}

.home-link:hover {
  width: 30px;
  height: 30px;
  background-image: url(home-active.png);
}

.card {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  cursor: pointer;
  margin-left: 5%;
  border-radius: 30px;
  background-color: rgb(8, 127, 107);
}

.card:hover {
  transform: scale(1.2);
  color: rgb(249, 198, 58);
  background-color: rgb(8, 127, 107);
  border-radius: 30px;
}

.card-link {
  background-color: rgb(8, 127, 107);
}

.card-img {
  width: 100%;
  border-radius: 30px;
  background-color: rgb(8, 127, 107);
}

.card-title1 {
  font-family: "Franklin Gothic Medium";
  font-size: xx-large;
  width: 200px;
  padding-left: 50px;
  background-image: url(Background.jpg);
  color: rgb(249, 198, 58);
  border-radius: 30px;
}

.card-title2 {
  font-family: "Franklin Gothic Medium";
  font-size: xx-large;
  width: 150px;
  padding-left: 100px;
  background-color: rgb(178, 179, 181);
  color: rgb(206, 6, 6);
  border-radius: 30px;
}

.card-title3 {
  font-family: "Franklin Gothic Medium";
  font-size: xx-large;
  width: 200px;
  padding-left: 50px;
  background-color: yellow;
  color: black;
  border-radius: 30px;
}

.card-title4 {
  font-family: "Franklin Gothic Medium";
  font-size: xx-large;
  width: 170px;
  padding-left: 80px;
  background-color: rgb(41, 145, 136);
  color: black;
  border-radius: 30px;
}
